<script type="text/javascript" src="/static/js/vendor/jquery.fancybox-2.1.5.min.js"></script>
<script type="text/javascript" src="/static/js/vendor/jquery.lazyload.min-1.9.1.js"></script>
<script type="text/javascript" src="/static/js/vendor/canvasjs.min.js" ></script>
<script type="text/javascript" src="/static/js/vendor/RGraph.common.core.js" ></script>
<script type="text/javascript" src="/static/js/vendor/RGraph.line.js" ></script>
<!--<script type="text/javascript" src="/static/js/dashboard.js"></script>-->
<script type="text/javascript" src="/static/js/mem_stat.js"></script>
